* {
  font-family: 'Roboto', sans-serif;
  color: black;
}

body {
  background-image: linear-gradient(to right bottom, #375e96, #2f74ac, #238bbf, #1aa2d0, #1eb9de);}


.container {
  display: flex;
 flex-direction: row;
}

.one {
  border: 2px solid red;
  width: 400px;
  height: 400px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.two {
  border: 2px solid blue;
  width: 600px;
  height: 80%;
}
.three {
  border: 2px solid green;
  width: 400px;
  height: 400px;
}