.List-Container {

display: flex;

flex-direction: row;



}
.Card-Container {

  border: 3px solid black;



}

.Card-Container {
  display: flex;
  flex-direction: column;


}

.ItemPic {
  flex-basis: 75%;


}

.OtherSpecs {

  display: flex;

}

.