.question-helpful-btn,
.question-answer-helpful-btn,
.question-answer-more {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.question-answer-more {
  font-size: 10px;
}

.question-helpful-container {
  font-size: 10px;
  /* border: 1px solid black; */
  /* margin-top: -5px; */
}

.question-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-bottom: 5px;

}

.question-answer-footer-container {
  font-size: 10px;
  /* border: 1px solid black; */
  /* margin-top: -11px; */
  height: 15px;
}

.question-answer-more-container {

}