.ratingContainer {
display: flex;
flex-direction: column;
}

.bar {
  width: 100%;
  background-color: #A9A9A9;
  height: 20px;
  /* border-radius: 5px; */
  position: relative;
}


.filled-bar {
  width: 50%;
  background-color: green;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

